@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
      */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  font-family: 'Inter', sans-serif;
  background-color: #FBFBFC;
  color: #2E2E2E;
}

h1 {
  font-weight: 700;
  color: #2E2E2E;
  font-size: 1.65em;
}

h2 {
  font-weight: 600;
  font-size: 1.25em;
}

h3 {
  font-weight: 600;
  font-size: 1.1em;
}

.main-form {
  margin-top: 20px;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}

.inner-form-container {
  margin: 25px 0 75px;
}

.inner-form-container h3 {
  margin-bottom: 15px;
}

.inner-form-container a {
  color: #1856C7;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}

.inner-form-container input {
  padding: 14px 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
}

.secondary {
  color: #808080;
}

.half-width {
  width: 47%;
  display: inline-block;
  vertical-align: top;
}

.half-width.second-col {
  margin-left: 4%;
}

.button-main {
  background-color: #1856C7;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  border-radius: 8px;
}

button {
  text-transform: uppercase;
}

button.secondary {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  color: #1856C7;
  border: 3px solid #1856C7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
}

.main-form .top-right {
  position: absolute;
  top: 30px;
  right: 35px;
}

.main-form .button-main.right {
  position: absolute;
  right: 35px;
  bottom: 30px;
}

.main-form .right-container {
  position: absolute;
  right: 35px;
  bottom: 30px;
}

.main-form .right-container button {
  margin-left: 10px;
}

.main-form button {
  min-width: 130px;
}

.main-form .tertiary-group {
  position: relative;
  background-color: #F9FAFE;
  border-radius: 12px;
  padding: 20px 35px;
  margin-top: 20px;
}

.main-form .tertiary-group .middle {
  bottom: 52px;
}

.green {
  color: #00960D;
}

.red {
  color: #FF4444;
}

.orange {
  color: #F2870D !important;
}

.main-form .tertiary-group h4 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.main-form .tertiary-group p {
  color: #CCCCCC;
}

.main-form .tertiary-group p span {
  color: #808080;
  font-weight: 600;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  font-family: 'Inter', sans-serif;
}

@tailwind components;

.heading-font {
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 640px) {
  .disappear {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .appear {
    display: none;
  }
}

/* @layer components {
  .nav-item {
    @apply text-neutral-900 hover: text-sky-600 text-xs dark:text-yellow-50 dark:hover:text-zinc-700;
  }
} */

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  background: white;
  overflow-x: hidden;
  padding: 8px 0;
  border-right: 1px solid #E6E6E6;
  width: 300px;
}

.sidenav .links-container {
  margin: 1px 15px;
  padding-right: 25px;
}

.sidenav .links-container button {
  font-weight: 700;
  padding: 15px 20px;
  text-align: left;
  width: 100%;
  text-transform: none;
}

.sidenav .nav-item {
  width: 100%;
  margin: 20px 15px;
  display: block;
}

#logo {
  padding: 40px;
  cursor: pointer;
}

.sidenav button {
  color: #2E2E2E;
  font-size: 1.1em;
}

.sidenav button.btn-col-main {
  color: #fff;
}

.sidenav button svg {
  display: inline;
  margin-right: 10px;
  margin-top: -3px;

  height: 1.3em;
  width: 1.3em;
}

.profile-info {
  text-align: right;
  position: absolute;
  right: 35px;
}

.profile-info h3 {
  font-weight: 700;
  color: #2E2E2E;
  font-size: 1em;
}

.profile-info p {
  color: #808080;
  font-size: .8em;
  line-height: 15px;
}

.heading-container {
  height: 63px;
  border-bottom: 1px solid #E6E6E6;
}

@tailwind components;

.box {
  border-radius: 25%;
}

.middle-font {
  font-family: 'Inter', sans-serif;
}

.generate-keys {
  margin-left: 300px;
  background-color: #FBFBFC;
  padding: 50px;
}

.btn-col-main {
  background-color: #1856C7;
}

.bg-main {
  background-color: #FBFBFC;
}

.sidenav .links-container .circular-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1856C7;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  transition: 0.3s;
  padding-right: 3px;
  padding-left: 13px;
}

.circular-button:hover {
  background-color: #0d3c9f;
}

.circular-button:active {
  background-color: #0a2f7d;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  color: #fff;
  text-align: center;
  max-width: 80%;
  overflow: auto;
}

.doctor, .employer, .patient {
  display: none;
}

.visible {
  display: block;
}