@tailwind components;

.box {
    border-radius: 25%;
}

.middle-font {
    font-family: 'Inter', sans-serif;
}

.generate-keys {
    margin-left: 300px;
    background-color: #FBFBFC;
    padding: 50px;
}

.btn-col-main {
    background-color: #1856C7;
}

.bg-main {
    background-color: #FBFBFC;
}